<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wewow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="Weibo_AppKey"
            android:value="3768596648" />
        <meta-data
            android:name="Weibo_AppSecret"
            android:value="0225c1f9f4b1a9858f64d9a7e865ef23" />
        <meta-data
            android:name="Weibo_RedirectURL"
            android:value="https://api.weibo.com/oauth2/default.html" />
        <meta-data
            android:name="Weibo_Scope"
            android:value="email,direct_messages_read,direct_messages_write,friendships_groups_read,friendships_groups_write,statuses_to_me_read,follow_app_official_microblog,invitation_write" />

        <activity
            android:name="com.wewow.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"></activity>
    </application>

</manifest>